<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tyler.grandpair">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GrandPair"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/pear">
        <activity
            android:name=".MainActivity"
            android:theme="@style/pear" />
        <activity android:name=".LoginRegActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SwipeActivity"
            android:theme="@style/pear" />
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChoicesActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>